# Server port
exports.SERVER_PORT = 3000;

# Database connection URI
exports.MONGODB_URI = "mongodb://localhost:27017/";
exports.DB_COLLECTION = "food-delivery";

# JWT Secret key
# generated with: require("crypto").randomBytes(64).toString("hex")
JWT_SERVER_KEY='__SOME_VERY_LONG_RANDOM_KEY__'
